{
  "min": 1,
  "max": 3,
  "desired": 3,
  "name": "",
  "cidr_block": "10.1.0.0/16",
  "pub_1": "10.1.1.0/24",
  "pub_2": "10.1.2.0/24",
  "pub_3": "10.1.3.0/24",
  "priv_1": "10.1.11.0/24",
  "priv_2": "10.1.12.0/24",
  "priv_3": "10.1.13.0/24",
  "trusted_prefixlists": [],
  "deployment_role": "TheRoleToDeploy",
  "target_account": "",
  "target_region": "ap-southeast-1",
  "neptune_writer_instance_type": "db.t3.medium",
  "neptune_reader_instance_type": "db.t3.medium",
  "neptune_second_reader_instance_type": "db.t3.medium",
  "deploy_rr": "true",
  "deploy_second_rr": "true",
  "rdfox_persistent_resplias": 0,
  "create_dev_instance": "true",
  "dev_public_key": "",
  "dev_security_allowed_ingress": "",
  "worker_node_instance_type": "t3.medium",
  "worker_node_min_capacity": 0,
  "worker_node_desired_capacity": 1,
  "secondary_worker_node_min_capacity": 0,
  "secondary_worker_node_desired_capacity": 0,
  "secondary_worker_node_instance_type": "t3.medium",
  "neptune_public": "true",
  "email": "",
  "license_path": "",
  "password":"",
  "acm_cert": ""
}